<div class="login_message_panel">
    Living Computing Project is going to let us “program biology” and democratize the process as society has with electronic computing.
    <br><br>
    This repository of biological data represents LCP's efforts to disseminate information rapidly to be used in a variety of external research projects. A key goal of this repository is to enable the large scale bio-design automation efforts of researchers interested in computational methods to enhance the speed, quality, and cost effectiveness of synthetic biology.
</div>